<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HOGWARTS</title>
  </head>
  <body>
    <nav> <a href='/students'>Home</a>
    <nav> <a href='/students/new'>Enroll Student</a>
      </nav>
    <%=yield%>
  </body>
</html>
