<h1>Enter New Student Details Here</h1>
<br>

<form method='post' action='/students'>
  <label for = 'first-name'>First Name</label>
  <input id-='first-name' type='text' name='first_name'></input>

  <label for ='last-name'>Last Name</label>
  <input id="last-name" type='text' name='last_name'>

  <label for ='age'>Age</label>
  <input id="age" type='number' name='age' min='10' max='19'>
  <select id='house' name='house'>

    <option value='gryffyndor'>Gryffyndor</option>
    <option value='hufflepuff'>Hufflepuff</option>
    <option value='ravenclaw'>Ravenclaw</option>
    <option value='slytherin'>Slytherin</option>
  </select>
  <br>

  <input type='submit' value='Enroll'>






</form>
